/* Global Valiables */
:root {
    --primary-color: rgba(0, 0, 0, 0.54);
    --primary-color-hover: rgba(0, 0, 0, 0.84);
    --secondary-color: #03a87c;
    --secondary-color-hover: #018f69;
    --light-color: #f4f4f4;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.54);
    background-color: #fff;
    line-height: 1.6rem;
    font-size: 16px;
}

/* Utility Classes */
.container {
    margin: auto;
    width: 80%;
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;    
}

.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

/* Buttons */
.btn {
    padding: 0.5rem;
    display: inline-block;
    border: 1px solid;
    border-radius: 6px;
}

.btn-primary {
    color: var(--primary-color);
}

.btn-primary:hover {
    color: var(--primary-color-hover);
}

.btn-secondary {
    color: var(--secondary-color);
}

.btn-secondary:hover {
    color: var(--secondary-color-hover);
}

/* Text Color */
.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-light {
    color: var(--light-color);
}

.text-center {
    text-align: center;
}